{
    "bracketSpacing": true,
    "enable": true,
    "semi": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "useEditorConfig": true,
    "useTabs": true,
    "vueIndentScriptAndStyle": true
}
